<% layout('sidebar.ejs') -%>

<main>
     
      
        <nav>
                <div class="nav-right hidden-xs">
                  <div class="button" id="btn">
                    <div class="bar top"></div>
                    <div class="bar middle"></div>
                    <div class="bar bottom"></div>
                  </div>
                </div>
              </nav>
          <div class="container" style="position:relative;top:40px;">
              <h1>BUS <%= bus_id%></h1>
          </div>    
</main>